<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/task7.js') }}" type=text/javascript></script>
  <script crossorigin="anonymous"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">
  <script defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJSa41jnaiHI4OD54Vg507O0qQKcXeY-0&callback=initMap">
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>А - Значит Амир!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark teal lighten-2 mb-4 bg-dark">
  <a class="navbar-brand" href="/task7">Задание 7</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline ml-auto" method="GET">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" id="searchBox" placeholder="Поиск" aria-label="Поиск" name="query">
      </div>
    </form>
  </div>
</nav>


<div class="container_dropdown">
  <button aria-expanded='false' aria-haspopup='true' class="btn btn-secondary dropdown-toggle mt-2 ml-5"
          data-toggle="dropdown" id="dropdownMenuButton" type="button">Страны
  </button>

  <div class="mx-auto" id="cities" style="width: 800px;">
    <ul class="list-group" id="listGroup">
      {% for city in id_cities %}
      <li class="list-group-item">{{ city }}</li>
      {% endfor %}
    </ul>
  </div>

  <div aria-labelledby='dropdownMenuButton' class="dropdown-menu" id="dropDown">
    {% for id, country in id_countries %}
      <a class="dropdown-item" href="?countries_id={{ id }}">{{ country }}</a>
    {% endfor %}
  </div>

  <nav aria-label="...">
    <ul class="pagination ml-5" id="pagination">
      {% for page in pages_count %}
      <li class="page-item"><a class="page-link" href="?countries_id={{ country }}&page={{ page }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>

<div id="map" class="container"></div>
<div>
  <div class="card-block" id="geometry"></div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>